<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>B18-Wallet-check</title>
</head>

<body>
  <p>check</p>
  <div>Income</div>
  <table th:if="${incomes}">
    <tr th:each="income:${incomes}">
      <td>ID:[[${income.id}]]</td>
      <td>UserID:[[${income.user_id}]]</td>
      <td>年月日:[[${income.date}]]</td>
      <td>収入:[[${income.money}]]</td>
    </tr>
  </table>
  <div>Spend</div>
  <table th:if="${spends}">
    <tr th:each="spend:${spends}">
      <td>ID:[[${spend.id}]]</td>
      <td>UserID:[[${spend.user_id}]]</td>
      <td>年月日:[[${spend.date}]]</td>
      <td>収入:[[${spend.money}]]</td>
    </tr>
  </table>
  <input type="button" value="もどる" onclick="location.href='/home/step1'">
</body>

</html>
