<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>B18-Wallet-home</title>
</head>

<body>
  <!--<form action="/home/output" method="get">
  <p>名前</p>
  <input type="text" name="name" placeholder="名前を入力してね" />
  <input type="submit" value="出力" />
  <input type="reset" value="リセット" />
</form>
<div th:if="${name}">[[${name}]]</div>
-->

  <div th:if="${login_user}">
    ユーザ名：[[${login_user}]]
  </div>

  <a href="/logout">ログアウト</a>
  <br>

  <a href="/income/step1">収入</a><br>
  <a href="/spend/step1">支出</a><br>
  <a href="/check/step1">確認</a><br>

</body>

</html>
